
   <div class="card">
      <img src="{{blog.data.category}}"
       class="card-img-top" alt="">
       <div class="card-body mt-1">
          <small class="bg-light text-danger text-center">{{blog}}</small>
          <small class="bg-light text-success text-center m-lg-3">Featured</small>
          <small class="bg-light text-info text-center ml-3">Views-100,256</small>
            
          <h5 class="mt-1"> HOW TO START BLOG IN 2020</h5>
          <p class="mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet neque corporis ullam porro nesciunt itaque quasi. Libero possimus aliquam modi explicabo magnam doloribus reprehenderit doloremque, cumque fuga vitae, cum accusamus!
          Molestias dolor autem aliquam totam! Nemo nulla eligendi saepe distinctio tenetur ducimus accusamus quae! Necessitatibus voluptatibus quibusdam laboriosam debitis beatae illo sint suscipit commodi, omnis dignissimos sunt atque sequi nobis</p>
           
          <small class="bg-light text-warning text-center ml-3" > LAST UPDATED</small>
          <small class="bg-light text-warning text-center ml-3" > Views - 100-256</small>
       </div>
  </div>
